<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div id="main">
    <!-- <div id="heading">
      <h1 ><strong><em>REGISTER HERE!!</em></strong></h1>
    </div> -->
    <div id="form-container">
      <form action="/register" method="post" id="form">
        <div class="label-container"><label for="fullname">Enter Your Name : </div>
        <br>
          <input type="text" name="fullname" id="fullname" placeholder="Type Your Name">
        </label> <br><br>
        <div class="label-container"><label for="email">Enter Your Email ID : </div><br>
          <input type="text" name="email" id="email" placeholder="Type Your Email ID">
        </label> <br><br>
        <div class="label-container"><label for="username">Create Your User Name : </div><br>
          <input type="text" name="username" id="username" placeholder="User Name">
        </label> <br><br>
        <div class="label-container"><label for="password">Create Your Password : </div><br>
          <input type="password" name="password" id="password" placeholder="Password">
        </label> <br><br>
        <button type="submit">Submit</button>
        <p>Already Registerd , <a href="/login">LOGIN HERE</a></p>
      </form>
      
    </div>
  </div>
  
  
</body>
</html>