<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <h1><strong><em>LOGIN HERE!!</em></strong></h1>
        <label for="username">Enter Your User Name : 
            <input type="text" name="username" id="username">
        </label><br><br>
        <label for="password">Enter Your Password : 
            <input type="password" name="password" id="password">
        </label><br><br>
        <button type="submit">SUBMIT</button>
    </form>
    <p>Don't have an Account <a href="/">REGISTER HERE</a></p>
</body>
</html>